# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
frontend/dist
frontend/tmp

# dependencies
frontend/node_modules
frontend/bower_components/*

backend/node_modules
backend/bower_components

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage/*
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log

# Sails.js / Waterline / Grunt
backend/.tmp
backend/dump.rdb

# Node.js / NPM
backend/lib-cov
backend/*.seed
backend/*.log
backend/*.out
backend/*.pid
backend/npm-debug.log

# Miscellaneous
backend/*~
backend/*#
backend/.DS_STORE
backend/.netbeans
backend/nbproject
backend/.idea
backend/.node_history


