{{#each post in model.posts}}
	<div class="col s12">
	  <div class="card">
	    <div class="card-image">
	      <img src="images/emberjs.png">
	      <span class="card-title">{{post.title}}</span>
	    </div>

	    <div class="card-content">
	      <p>{{post.content}}</p>
	      
	      <p>
			{{#each keyword in post.keyword}}
				<b>{{keyword.title}}</b>
			{{/each}}          	
	      </p>

	      <p>
			Author: <i>{{post.author.name}}</i>          	
	      </p>
	    </div>

	    <div class="card-action">
	      <a href="#">This is a link</a>
	    </div>
	  </div>
	</div>
{{/each}}